*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(Images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.DNA_to_RNA {
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  margin-top: 100px;
}

.DNA_to_RNA__text_DNA {
  position: absolute;
  top: -70px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
  letter-spacing: 2px;
}

.DNA_to_RNA__input_DNA {
  width: 300px;
  font-size: 18px;
  outline: none;
  padding: 0 5px;
  font-family: "Roboto", sans-serif;
}

.DNA_to_RNA__error_DNA {
  position: absolute;
  top: 40px;
  margin-left: -190px;
  font-size: 14px;
  color: rgb(182, 184, 248);
  font-family: 'Courier New', Courier, monospace;
}

.DNA_to_RNA__value_RNA {
  position: absolute;
  margin-top: 100px;
  font-size: 40px;
  text-shadow: 0 0 10px rgb(0, 136, 255);
  color: white;
  font-family: "Roboto", sans-serif;
  color: rgb(204, 208, 208);
}

.DNA_to_RNA__value_RNA b {
  font-weight: 500;
  color: white;
}

.DNA_to_RNA__button {
  border: none;
  background-color: rgb(0, 89, 255);
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  transition: .3s all;
}

.DNA_to_RNA__button:hover {
  background-color: rgb(4, 68, 188);
}

@media only screen and (max-width: 500px) {
  .DNA_to_RNA__input_DNA {
    width: 240px;
  }

  .DNA_to_RNA__button {
    padding: 6px 10px;
    font-size: 14px;
  }

  .DNA_to_RNA__error_DNA {
    margin-left: -100px;
    top: 30px;
  }

  .DNA_to_RNA__value_RNA {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1200px){
  body{
    background-position: 70%;
  }
}